<div class="content-wrapper">
  <!-- Content Header (Page header) -->
  <section class="content-header">
    <div class="container-fluid">
      <div class="row mb-2">
        <div class="col-sm-6">
          <h1>Crear Equipo</h1>
        </div>
        <div class="col-sm-6">
          <ol class="breadcrumb float-sm-right">
            <li class="breadcrumb-item"><a routerLink="/dashboard">Dashboard</a></li>
            <li class="breadcrumb-item"><a routerLink="/equipment/list">Listado de Equipos</a></li>
            <li class="breadcrumb-item active">Nuevo</li>
          </ol>
        </div>
      </div>
    </div><!-- /.container-fluid -->
  </section>
      <!-- Main content -->
      <section class="content">
        <div class="container-fluid">
          <div class="card card-success">
            <div class="card-header">
              <h3 class="card-title">Nuevo Equipo</h3>
            </div>
            <!-- /.card-header -->
            <!-- form start -->
            <form>
              <div class="row  m-1">
                <div class="col-sm-6">
                  <!-- text input -->
                  <div class="form-group">
                    <label>Nombre</label>
                    <input type="text" class="form-control" placeholder="Ingresa el nombre del equipo...">
                  </div>
                </div>
                <div class="col-sm-6">
                  <div class="form-group">
                    <label>Marca</label>
                    <input type="text" class="form-control" placeholder="Ingresa la marca del equipo...">
                  </div>
                </div>
              </div>
              <div class="row  mx-1">
                <div class="col-sm-6">
                  <!-- text input -->
                  <div class="form-group">
                    <label>Modelo</label>
                    <input type="text" class="form-control" placeholder="Ingresa el modelo del equipo...">
                  </div>
                </div>
                <div class="col-sm-6">
                  <div class="form-group">
                    <label>Serie</label>
                    <input type="text" class="form-control" placeholder="Ingresa la serie del equipo...">
                  </div>
                </div>
              </div>
              <div class="row mx-1">
                <div class="col-sm-6">
                  <!-- text input -->
                  <div class="form-group">
                    <label>Activo fijo</label>
                    <input type="text" class="form-control" placeholder="Ingresa el Activo fijo del equipo...">
                  </div>
                </div>
                <div class="col-sm-6">
                  <div class="form-group">
                    <label>Cliente</label>
                    <select class="form-control">
                      <option selected>Seleccione el cliente...</option>
                      <option value="1">Clinica de occidente</option>
                    </select>
                  </div>
                </div>
              </div>
              <div class="row mx-1">
                <div class="col-sm-6">
                  <!-- text input -->
                  <div class="form-group">
                    <label>Ubicacion</label>
                    <input type="text" class="form-control" placeholder="Ingresa la Ubicacion del equipo...">
                  </div>
                </div>
                <div class="col-sm-6">
                  <!-- text input -->
                  <div class="form-group">
                    <label>Observaciones</label>
                    <textarea class="form-control" rows="3" placeholder="Ingresa las observaciones del equipo..."></textarea>
                  </div>
                </div>
              </div>
              <!-- /.card-body -->
              <div class="card-footer">
                <div class="row">
                  <div class="col-sm-12 text-center">
                    <a routerLink="/equipment/list" class="btn btn-secondary">Cancelar</a>
                    <button type="submit" class="btn btn-success ml-3">Guardar</button>
                  </div>
                </div>
              </div>
            </form>
          </div>
        </div><!-- /.container-fluid -->
      </section>
      <!-- /.content -->
</div>

